<!DOCTYPE html>
<html>
<head>
  <title>Bark</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>

<%	if	current_user %>	
	<%=	link_to	"Log Out",	sessions_destroy_path %>	
<% else %>	
	<%=	form_tag sessions_create_path do %>
	  <%= text_field_tag :username, nil, placeholder: 'username' %>
	  <%= password_field_tag :password, nil, placeholder: 'password' %>	
	  <%= submit_tag "Log In"	%>	
	<%	end	%>	
<%	end	%>

<div class='container'>
<%= yield %>
</div>

</body>
</html>
